<a href="https://colab.research.google.com/github/FairozaAmira/AI_Programming_1_e/blob/master/Lesson06/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

1. Create a list of numbers with variable L.
The numbers are 4, 6, 8, 9.

In [1]:
L = [4,6,8,9]
print(L)

[4, 6, 8, 9]

In [2]:
L = 4,8,6, 9

L = list(L)
print(L)

[4, 8, 6, 9]

2. Find the length of the list.

In [3]:
print(len(L))

4

3. Add number 11 in the list.

In [4]:
L.append(11)
L

[4, 8, 6, 9, 11]

4. Concatenate list with the list of [13, 17 and 20] to the list.

In [5]:
L += [17, 13, 20]
L

[4, 8, 6, 9, 11, 17, 13, 20]

5. Sort the list in ascending order

In [6]:
L.sort()
L

[4, 6, 8, 9, 11, 13, 17, 20]

6. Does list can contain any values other than integers?

In [7]:
L = [1, "two", 3.24, [0, 3,5]]
L

[1, 'two', 3.24, [0, 3, 5]]

In [8]:
type(L)

list

In [9]:
L[3]

[0, 3, 5]