<a href="https://colab.research.google.com/github/FairozaAmira/AI_Programming_1_e/blob/master/Lesson06/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Solution for Tuples Exercise

1. Create a tuples with variable, t that has 4, 9, 10 as its elements.

In [1]:
t = (4,9,10)
print(t)

(4, 9, 10)

In [2]:
type(t)

tuple

In [3]:
t = 4,9, 10
print(t)

(4, 9, 10)

In [4]:
type(t)

tuple

2. Find the length of t

In [5]:
len(t)

3

3. What is the value of the first element of t?

In [6]:
t[0]

4

4. Is it possible to change the value of an element in tuple? If it is possible, change t[1] to 5.

In [0]:
t[1] = 5

TypeError: ignored

5. Is it possible to add an element in tuple? If it is so, add element 12 .

In [0]:
t.append(12)

AttributeError: ignored

In [0]:
t2 = (12, )
t += t2
print(t)

(4, 9, 10, 12)